* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc {
  background-color: black;
  width: 400px;
  height: 650px;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  position: relative;
}
.calc .calc__output {
  font-size: 90px;
  text-align: right;
  height: 120px;
  padding: 10px;
  color: white;
  font-family: helvetica;
}
.calc .calc__buttons-container {
  height: 75%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.calc .operators,
.calc .operatorsDm,
.calc .equals {
  background: orange;
  font-size: 40px;
}
.calc .functions {
  background-color: #a5a5a5;
  color: black;
}
.calc .numbers {
  background: #494949;
}
.calc .zero {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 55px;
  width: 170px;
  text-align: left;
  padding-left: 20px;
}

button {
  border-radius: 50%;
  height: 95%;
  width: 90%;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  font-family: helvetica;
}

button:focus {
  filter: brightness(130%);
  transition: filter 0.2s;
}

button:active {
  filter: brightness(130%);
  transition: filter 0.2s;
}

.calc__line {
  width: 120px;
  height: 5px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  left: 140px;
}